*
{
    margin: 0;
    padding: 0;
}
.bg-img
{
    background-image: url(https://cnbl-cdn.bamgrid.com/assets/62ed936344e6ffbac48c896b2bd327fe171521dd941b6ddc8402e2eae50116fc/original);
    background-size: cover;
   
}
#logo-center
{
    display: flex;
    
}
#logo
{
    height: 100px;
    width: 49vw;
}
#logo-image
{
    height: 70px;
    width: 150px;
}
#button-div
{
    height: 100px;
    width: 49vw;
    display:flex;
    flex-direction: row-reverse;
    padding-top: 10px;
    padding-right: 50px;
}
#button
{
    height: 30px;
    width: 80px;
    border: 1px solid rgb(56, 56, 56);
    border-radius: 3px;
    background-color: rgb(56, 56, 56);
    color: rgb(165, 144, 144);
    font-size: 15px;
    opacity: 0.4;
    
}
#button:hover
{
    opacity: 1;
    color: white;
}
#center
{
    height: 325px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
}
#center1
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading1
{
    color: rgb(40, 172, 73);
    font-size: small;
}
.heading2
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1
{
    height: 70px;
    width: 120px;
}
.img2
{
    height: 70px;
    width: 120px;
}
.heading3
{
    color: white;
    font-size: 25px;
}
.heading5
{
    color: white;
    font-size: 25px;
}
.button1
{
    background-color: rgb(40, 172, 73);
    color: black;
    height:37px;
    width: 330px;
    border: 1px solid rgb(40, 172, 73);
    border-radius: 4px;
}
.random b
{
    background-color: rgb(40, 172, 73);
    
}
#center2
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img3
{
    height:40px;
    width: 90px;
}
#bgcolor
{
    background-color: rgb(17, 17, 20);
}
#terms
{
    height: 200px;
    
    display: flex;
    justify-content:first baseline;
    align-items:center;
    flex-direction: column;
    color: white;
}
#p1
{
    font-size: medium;
}
#p2
{
    font-size: large;
}
#filler1
{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#p3
{
    color: rgb(40, 172, 73);
    font-size: 15px;
}
#p4
{
    color: white;
    font-size: 50px;
}
.p5
{
    color:white;
    font-size: 20px;
}

 
#pics
{
    display: flex;
    justify-content: space-evenly;
}
#img1
{
    height:405px;
    width: 21vw;
    border-radius: 6px;
}
#img1:hover
{
    opacity: 0.6;
    border: 5px solid grey;
}
.bg-img{
    background-image: "original.jpeg";
    
    background-blend-mode: multiply;
    width: 100vw;
    height: 47vw;
}
#img2
{
    height:405px;
    width: 21vw;
    border-radius: 6px;
}
#img2:hover
{
    opacity: 0.6;
    border: 5px solid grey;
}

#img3
{
    height:405px;
    width: 21vw;
    border-radius: 6px;
}
#img3:hover
{
    opacity: 0.6;
    border: 5px solid grey;
}
#img4
{
    height:405px;
    width: 21vw;
    border-radius: 6px;
}
#img4:hover
{
    opacity: 0.6;
    border: 5px solid grey;
}

#filler2
{
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#p6
{
    color: rgb(40, 172, 73);
    font-size: 15px;
}
#p7
{
    color: white;
    font-size: 49px;
}
.p8
{
    color: white;
    font-size: 19px;
}
.p9
{
    color: white;
    font-size: 11px;
}
#p10
{
    color: white;
    font-size: 20px;
}
#bg-image2
{
    height: 52vw;
    width: 100%;
}
#intext1
{
    position: relative;
}
#intext2 b
{
    position: absolute;
    top: 130px;
    left: 170px;
    color: white;
    font-size: 50px;
    background-color: transparent;
}
#intext3  p
{
    position: absolute;
    top: 220px;
    left: 170px;
    color: white;
    font-size: 19px;
    background-color: transparent;
}
#intext-img1
{
    position: absolute;
    top: 350px;
    left: 170px;
    height: 30px;
    width: 100px;
}
#intext-img2
{
    position: absolute;
    top: 340px;
    left: 290px;
    height: 40px;
    width: 130px;
}
#intext-img3
{
    position: absolute;
    top: 335px;
    left: 400px;
    height: 60px;
    width: 150px;
}
#select
{
    height: 270px;
    display: flex;
    justify-content: first baseline;
    text-align: center;
    flex-direction: column;
    padding-top: 90px;
}
#p11
{
    color: white;
    font-size: 60px;
}
.p12
{
    color: white;
    font-size: 20px;
}
#hr1
{
    margin: 0 auto;
    background-color: grey;
    width: 70vw;
    height: 2px;
}
#together
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
#toggle-keeper
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle-keeper2
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#toggle-maker
{
    padding: 60px;
}
label
{
    width: 60px;
    height: 30px;
    display: block;
    background: rgb(189, 188, 188);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: absolute;

    transform: translate(-50%, -50%);
}
label span
{
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    font-weight: bold;
    transition: margin-left 0.5s;
}
#toggle
{
    display: none;
}
#toggle:checked+label span
{
    margin-left: 30px;
    background: #5bce5b;
    color: #fff;
}
#base
{
    color: white;
}
.img4
{
    height: 38px;
    width: 66px;
}
#bundle
{
    color: white;
}
.img5
{
    height: 38px;
    width: 66px;
}
.img6
{
    height: 30px;
    width: 55px;
}
.together1
{
    color: white;
    font-size: 18px;
}
.together2
{
    color: white;
    font-size: 23px;
}
.together3
{
    height: 40px;
    width: 300px;
    font-size: medium;
    background-color: white;
    border: 1px white;
    border-radius: 4px;
}
#table
{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    height: 400px;
    overflow-y: scroll;
    overflow-x:hidden;
}
#table::-webkit-scrollbar {
    display: none;
}
.table1
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
}
.table2
{
    color: white;
    font-size: large;
    display: flex;
    justify-content: left;
    height: 40px;
    width: 400px;
    padding-top: 0px;
}
.tick
{
    color: green;
    width: 120px;
    height: 90px;
    padding-top: 30px;
}
.no-tick
{
    color: white;
    width: 100px;
    height: 10px;
    padding-top: 0;
    padding-left: 13px;
}
hr
{
    background-color: white;
    height: 2px;
    width: 80vw;
}
#footer
{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 70px;
    padding-right: 100px;
}
.footer1
{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.footer
{
    color: grey;
    background-color: white;
    font-size: 14px;
}
#hr-over
{
    height: 50px;
    width: 100vw;
    background-color: white;
}
#hr2
{
    margin: 0 auto;
    background-color: grey;
    width: 90vw;
    height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hr-below
{
    background-color: white;
}
.carousel1
{
    font-size: 60px;
}
.carousel2
{
    font-size: 23px;
}
#carousel3
{
    color: rgb(167, 8, 167);
    font-size: 60px;
}
#carousel4
{
    color: rgb(167, 8, 167);
    font-size: 23px;
}
#carousel-img1
{
    height: 97vh;
    width: 100vw;
}
#carousel-img2
{
    height: 97vh;
    width: 100vw;
}
#carousel-img3
{
    height: 97vh;
    width: 100vw;
}